* {
  margin: 0;
  padding: 0;
}

#title {
  color: black;
  font-size: 2.75em;
  font-weight: 700;
  margin-top: 2rem;
  text-align: center;
  text-decoration: underline;
}

#color-palette {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: max-content;
}

.color {
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: 45px;
  margin: 0 0.5rem;
  opacity: 0.85;
  transition: all 0.3s ease-in-out;
  width: 45px;
}

.color:hover {
  box-shadow: 0 0 5px 4px orange;
  opacity: 1;
  transform: scale(1.1);
}

.selected {
  box-shadow: 0 0 5px 4px limegreen;
  cursor: default;
  opacity: 1;
}

.selected:hover {
  box-shadow: 1px 1px 5px 2px limegreen;
}

#pixel-board {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.line {
  display: flex;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
